---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #f4f1ea;
$iron: #111111;
$cloudy: #707070;

@import
    "mixins",
    "default",
    "404"
;
